<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>This is Angular App</h1>
      <hr>
      <app-servers></app-servers>
      <app-warning></app-warning>
      <app-success></app-success>
      <app-data-binding></app-data-binding>
      <hr>
      <span>Data Binding Task</span>
      <app-data-binding-task></app-data-binding-task>
      <hr>
      <app-directives></app-directives>
      <hr>
      <app-diretive-practice></app-diretive-practice>
    </div>
  </div>
</div>